.ff {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  padding: 48px 16px;
  position: relative;

  margin-bottom: 16px;

  display: block;
  width: calc((100% - 8px) / 2);

  background-color: inherit;
  width: max-content;
  position: relative;

  background: inherit;

  margin: 0;

  position: absolute;

  right: 20px;

  width: max-content;

  justify-content: space-between;

  flex-direction: row-reverse;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
  }
}
